@charset "UTF-8";

/*****************
 初始化css样式 
 *****************/
html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
menu,
nav,
section,
time,
mark,
audio,
video,
details,
summary {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  background: transparent;
  border-style: solid;
  border-width: 0;
}

main,
article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary {
  display: block;
}

/* Handle box-sizing while better addressing child elements:
   http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul {
  list-style: none;
}

a {
  padding: 0;
  margin: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* tables still need cellspacing="0" in the markup */
table {
  font: 100%;
  font-size: inherit;
  border-spacing: 0;
  border-collapse: separate;
}

table th {
  font-weight: bold;
  vertical-align: bottom;
}

table td {
  font-weight: normal;
  vertical-align: top;
}

table td img {
  vertical-align: top;
}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button,
input,
select,
textarea {
  margin: 0;
}

.clearfix::after {
  clear: both;
  display: block;
  content: " ";
}

html {
  font-family: "PingFang SC", "Microsoft YaHei", "Hiragino Sans GB", SimSun, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
