body {
  --el-color-primary: #217aff;
  --el-color-primary-rgb: 33, 122, 255;
  --el-color-primary-light-1: #3787ff;
  --el-color-primary-light-2: #4d95ff;
  --el-color-primary-light-3: #64a2ff;
  --el-color-primary-light-4: #7aafff;
  --el-color-primary-light-5: #90bdff;
  --el-color-primary-light-6: #a6caff;
  --el-color-primary-light-7: #bcd7ff;
  --el-color-primary-light-8: #d3e4ff;
  --el-color-primary-light-9: #e9f2ff;
  --el-color-primary-dark-1: #1e6ee6;
  --el-color-primary-dark-2: #1a62cc;
  --el-color-primary-dark-3: #1755b3;
  --el-color-primary-dark-4: #144999;
  --el-color-primary-dark-5: #113d80;
  --el-color-primary-dark-6: #0d3166;
  --el-color-primary-dark-7: #0a254c;
  --el-color-primary-dark-8: #071833;
  --el-color-primary-dark-9: #030c19;
  --el-color-success: #12d678;
  --el-color-success-rgb: 18, 214, 120;
  --el-color-success-light-1: #2ada85;
  --el-color-success-light-2: #41de93;
  --el-color-success-light-3: #59e2a1;
  --el-color-success-light-4: #71e6ae;
  --el-color-success-light-5: #89ebbc;
  --el-color-success-light-6: #a0efc9;
  --el-color-success-light-7: #b8f3d7;
  --el-color-success-light-8: #d0f7e4;
  --el-color-success-light-9: #e7fbf2;
  --el-color-success-dark-1: #10c16c;
  --el-color-success-dark-2: #0eab60;
  --el-color-success-dark-3: #0d9654;
  --el-color-success-dark-4: #0b8048;
  --el-color-success-dark-5: #096b3c;
  --el-color-success-dark-6: #075630;
  --el-color-success-dark-7: #054024;
  --el-color-success-dark-8: #042b18;
  --el-color-success-dark-9: #02150c;
  --el-color-warning: #ffb115;
  --el-color-warning-rgb: 255, 177, 21;
  --el-color-warning-light-1: #ffb92c;
  --el-color-warning-light-2: #ffc144;
  --el-color-warning-light-3: #ffc85b;
  --el-color-warning-light-4: #ffd073;
  --el-color-warning-light-5: #ffd88a;
  --el-color-warning-light-6: #ffe0a1;
  --el-color-warning-light-7: #ffe8b9;
  --el-color-warning-light-8: #ffefd0;
  --el-color-warning-light-9: #fff7e8;
  --el-color-warning-dark-1: #e69f13;
  --el-color-warning-dark-2: #cc8e11;
  --el-color-warning-dark-3: #b37c0f;
  --el-color-warning-dark-4: #996a0d;
  --el-color-warning-dark-5: #80590b;
  --el-color-warning-dark-6: #664708;
  --el-color-warning-dark-7: #4c3506;
  --el-color-warning-dark-8: #332304;
  --el-color-warning-dark-9: #191202;
  --el-color-danger: #ff4d4f;
  --el-color-danger-rgb: 255, 77, 79;
  --el-color-danger-light-1: #ff5f61;
  --el-color-danger-light-2: #ff7172;
  --el-color-danger-light-3: #ff8284;
  --el-color-danger-light-4: #ff9495;
  --el-color-danger-light-5: #ffa6a7;
  --el-color-danger-light-6: #ffb8b9;
  --el-color-danger-light-7: #ffcaca;
  --el-color-danger-light-8: #ffdbdc;
  --el-color-danger-light-9: #ffeded;
  --el-color-danger-dark-1: #e64547;
  --el-color-danger-dark-2: #cc3e3f;
  --el-color-danger-dark-3: #b33637;
  --el-color-danger-dark-4: #992e2f;
  --el-color-danger-dark-5: #802728;
  --el-color-danger-dark-6: #661f20;
  --el-color-danger-dark-7: #4c1718;
  --el-color-danger-dark-8: #330f10;
  --el-color-danger-dark-9: #190808;
  --el-color-info: #96979c;
  --el-color-info-rgb: 150, 151, 156;
  --el-color-info-light-1: #a1a1a6;
  --el-color-info-light-2: #abacb0;
  --el-color-info-light-3: #b6b6ba;
  --el-color-info-light-4: #c0c1c4;
  --el-color-info-light-5: #cbcbce;
  --el-color-info-light-6: #d5d5d7;
  --el-color-info-light-7: #e0e0e1;
  --el-color-info-light-8: #eaeaeb;
  --el-color-info-light-9: #f5f5f5;
  --el-color-info-dark-1: #87888c;
  --el-color-info-dark-2: #78797d;
  --el-color-info-dark-3: #696a6d;
  --el-color-info-dark-4: #5a5b5e;
  --el-color-info-dark-5: #4b4c4e;
  --el-color-info-dark-6: #3c3c3e;
  --el-color-info-dark-7: #2d2d2f;
  --el-color-info-dark-8: #1e1e1f;
  --el-color-info-dark-9: #0f0f10;
  --el-text-color-primary: #131b26;
  --el-text-color-primary-rgb: 19, 27, 38;
  --el-text-color-regular: #5f6165;
  --el-text-color-regular-rgb: 95, 97, 101;
  --el-text-color-secondary: #96979c;
  --el-text-color-secondary-rgb: 150, 151, 156;
  --el-text-color-placeholder: #cacbd0;
  --el-text-color-placeholder-rgb: 202, 203, 208;
  --el-text-color-disabled: #cacbd0;
  --el-text-color-disabled-rgb: 202, 203, 208;
  --el-bg-color: #ffffff;
  --el-bg-color-rgb: 255, 255, 255;
  --el-bg-color-page: #f7f8fd;
  --el-bg-color-page-rgb: 247, 248, 253;
  --el-bg-color-secondary: #f3f5fb;
  --el-bg-color-secondary-rgb: 243, 245, 251;
  --el-border-color-exlighter: #f6f7fa;
  --el-border-color-exlighter-rgb: 246, 247, 250;
  --el-border-color-lighter: #f0f2f7;
  --el-border-color-lighter-rgb: 240, 242, 247;
  --el-border-color-light: #eaedf4;
  --el-border-color-light-rgb: 234, 237, 244;
  --el-border-color: #e1e6f0;
  --el-border-color-rgb: 225, 230, 240;
  --el-border-color-dark: #d0d5df;
  --el-border-color-dark-rgb: 208, 213, 223;
  --el-border-color-darker: #c8ccd7;
  --el-border-color-darker-rgb: 200, 204, 215;
  --el-border-color-exdarker: #bec2cf;
  --el-border-color-exdarker-rgb: 190, 194, 207;
  --el-fill-color-blank: #ffffff;
  --el-fill-color-blank-rgb: 255, 255, 255;
  --el-fill-color-reverse: #000000;
  --el-fill-color-reverse-rgb: 0, 0, 0;
  --el-fill-color-exlighter: #fafcff;
  --el-fill-color-exlighter-rgb: 250, 252, 255;
  --el-fill-color-lighter: #f8fafc;
  --el-fill-color-lighter-rgb: 248, 250, 252;
  --el-fill-color-light: #f5f7fa;
  --el-fill-color-light-rgb: 245, 247, 250;
  --el-fill-color: #f0f2f5;
  --el-fill-color-rgb: 240, 242, 245;
  --el-fill-color-dark: #eeeeee;
  --el-fill-color-dark-rgb: 238, 238, 238;
  --el-fill-color-darker: #e6e8eb;
  --el-fill-color-darker-rgb: 230, 232, 235;
  --el-fill-color-exdarker: #d9dde3;
  --el-fill-color-exdarker-rgb: 217, 221, 227;
  --el-border-radius-small: 2px;
  --el-border-radius-base: 4px;
  --el-border-radius-large: 6px;
  --el-border-radius-huge: 8px;
  --el-border-radius-round: 20px;
  --el-border-radius-circle: 100%;
  --el-spacing-xxxs: 4px;
  --el-spacing-xxs: 8px;
  --el-spacing-xs: 12px;
  --el-spacing-sm: 16px;
  --el-spacing-md: 20px;
  --el-spacing: 24px;
  --el-spacing-lg: 28px;
  --el-spacing-xl: 32px;
  --el-spacing-xxl: 36px;
  --el-spacing-xxxl: 40px;
  --el-font-size-extra-small: 12px;
  --el-font-size-small: 12px;
  --el-font-size-base: 14px;
  --el-font-size-medium: 16px;
  --el-font-size-large: 18px;
  --el-font-size-extra-large: 20px;
  --el-font-size-xxl: 24px;
  --el-font-size-xxxl: 28px;
  --el-component-size-mini: 24px;
  --el-component-size-small: 28px;
  --el-component-size: 36px;
  --el-component-size-large: 40px;
  --el-color-error: var(--el-color-danger);
  --el-bg-color-overlay: var(--el-bg-color);
}
